<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @address.from %>
</p>

<p>
  <b>Organization:</b>
  <%= @address.organization.title %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>

